#game-container {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.player-info {
  height: 100%;
  width: 150px;
  height: 80vh;
  background-color: lightgrey;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#grid-container {
  display: grid;
  grid-template-columns: repeat(10, 8vh);
  grid-template-rows: repeat(10, 8vh);
  justify-content: center;
}

.player-info .player-cell {
  position: relative;
  width: 128px;
  height: 128px;
}

.grid-item {
  position: relative;
  padding: 5px;
  outline: 1px solid rgba(0, 0, 0, .2);
  background-color: aquamarine;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid-item::after {
  content: \00A0;
}

.player-health {
  position: absolute;
  width: 32px;
  height: 32px;
  border: gray;
  background-color: #adff2f;
  bottom: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
}

.player-health[data-health="90"] {
  background-color: #d9ff2f;
}
.player-health[data-health="95"] {
  background-color: #d9ff2f;
}

.player-health[data-health="80"] {
  background-color: #e0ff2f;
}
.player-health[data-health="85"] {
  background-color: #e0ff2f;
}

.player-health[data-health="70"] {
  background-color: #ffea2ff1;
}
.player-health[data-health="75"] {
  background-color: #ffea2ff1;
}

.player-health[data-health="60"] {
  background-color: #ffce2ff1;
}
.player-health[data-health="65"] {
  background-color: #ffce2ff1;
}

.player-health[data-health="50"] {
  background-color: #ffbd2ff1;
}
.player-health[data-health="55"] {
  background-color: #ffbd2ff1;
}

.player-health[data-health="40"] {
  background-color: #ffac2f;
}
.player-health[data-health="45"] {
  background-color: #ffac2f;
}

.player-health[data-health="30"] {
  background-color: #ff712f;
}
.player-health[data-health="35"] {
  background-color: #ff712f;
}

.player-health[data-health="20"] {
  background-color: #ff6a2f;
}
.player-health[data-health="25"] {
  background-color: #ff6a2f;
}

.player-health[data-health="10"] {
  background-color: #ff2f2f;
}
.player-health[data-health="15"] {
  background-color: #ff2f2f;
}
.player-health[data-health="0"] {
  background-color: #fd0606;
}
.player-health[data-health="5"] {
  background-color: #fd0606;
}

.player-weapon {
  position: absolute;
  width: 24px;
  height: 34px;
  bottom: 0;
  right: -8px;
}

.player-weapon>span {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: gray;
  text-align: center;
  vertical-align: middle;
}

.weapon {
  background-image: url('./images/weapon.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.weapon1 {
  background-image: url('./images/weapon1.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.weapon2 {
  background-image: url('./images/weapon2.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.weapon3 {
  background-image: url('./images/weapon3.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.weapon4 {
  background-image: url('./images/weapon4.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.player1 {
  background-image: url('./images/player1.png');
  background-size: 110%;
  background-position: center center;
  background-repeat: no-repeat;
}

.player2 {
  background-image: url('./images/player2.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.barrier {
  background-color: gray;
}