.grid-container {
  display: grid;
  margin-top: 150px;
  grid-template-columns: repeat(10, 6vh);
  grid-template-rows: repeat(10, 6vh);
  justify-content: center;
  /* margin: auto; */
}

.grid-item {
  position: relative;
  padding: 5px;
  outline: 1px solid rgba(0, 0, 0, .2);
  background-color: aquamarine;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid-item::after {
  content: \00A0;
}

.player-health {
  position: absolute;
  width: 32px;
  height: 32px;
  border: gray;
  background-color: #adff2f;
  bottom: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
}

.player-health[data-health="90"] {
  background-color: #d9ff2f;
}
.player-health[data-health="95"] {
  background-color: #d9ff2f;
}

.player-health[data-health="80"] {
  background-color: #e0ff2f;
}
.player-health[data-health="85"] {
  background-color: #e0ff2f;
}

.player-health[data-health="70"] {
  background-color: #ffea2ff1;
}
.player-health[data-health="75"] {
  background-color: #ffea2ff1;
}

.player-health[data-health="60"] {
  background-color: #ffce2ff1;
}
.player-health[data-health="65"] {
  background-color: #ffce2ff1;
}

.player-health[data-health="50"] {
  background-color: #ffbd2ff1;
}
.player-health[data-health="55"] {
  background-color: #ffbd2ff1;
}

.player-health[data-health="40"] {
  background-color: #ffac2f;
}
.player-health[data-health="45"] {
  background-color: #ffac2f;
}

.player-health[data-health="30"] {
  background-color: #ff712f;
}
.player-health[data-health="35"] {
  background-color: #ff712f;
}

.player-health[data-health="20"] {
  background-color: #ff6a2f;
}
.player-health[data-health="25"] {
  background-color: #ff6a2f;
}

.player-health[data-health="10"] {
  background-color: #ff2f2f;
}
.player-health[data-health="15"] {
  background-color: #ff2f2f;
}

.player-weapon {
  position: absolute;
  width: 16px;
  height: 16px;
  border: gray;
  bottom: 0;
  right: 0;
}

.weapon {
  background-color: pink;
}

.weapon1 {
  background-color: red;
}

.weapon2 {
  background-color: green;
}

.weapon3 {
  background-color: yellow;
}

.weapon4 {
  background-color: blue;
}

.player1 {
  background-color: black;
}

.player2 {
  background-color: white;
}

.barrier {
  background-color: gray;
}