.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 6vh);
  grid-template-rows: repeat(10, 6vh);
  justify-content: center;
  /* margin: auto; */
}

.grid-item {
  position: relative;
  padding: 5px;
  outline: 1px solid rgba(0, 0, 0, .2);
  background-color: aquamarine;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid-item::after {
  content: \00A0;
}

.player-health {
  position: absolute;
  width: 32px;
  height: 32px;
  border: gray;
  background-color: greenyellow;
  bottom: 0;
  left: 0;
}

.player-weapon {
  position: absolute;
  width: 16px;
  height: 16px;
  border: gray;
  bottom: 0;
  right: 0;
}

.weapon {
  background-color: pink;
}

.weapon1 {
  background-color: red;
}

.weapon2 {
  background-color: green;
}

.weapon3 {
  background-color: yellow;
}

.weapon4 {
  background-color: blue;
}

.player1 {
  background-color: black;
}

.player2 {
  background-color: white;
}

.barrier {
  background-color: gray;
}